header{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

h1{
    text-align: center;

}

.nav_link{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: white 2px dashed;
    background-color: black;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    font-family: "American Typewriter", Arial, Helvetica, sans-serif;
    color: white;
}


body{
    background-color: lightblue;
}

nav a:hover, nav a:focus{
    text-decoration: underline;
}

.main a{
    position: absolute;
    top: -40px;
}

.main a:focus{
    position: absolute;
    top: 20px;
}

*:focus{
    border: solid black 2px;
}
  