header{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

h1{
    text-align: center;
    font-size: 35px;
    padding-top: 15px;

}

h2{
    text-align: center;
    padding-bottom: 15px;
    font-size: 20px;
}

h3{
    text-align: center;
    padding: 14px;
    font-size: 15px;
}

h3 > a{
    color: black;
    text-decoration: none;
}

.nav_items{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.nav_link{
    justify-content: space-around;
    border: black 2px dashed;
    background-color: white;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    font-family: "American Typewriter", Arial, Helvetica, sans-serif;
    color: black;
}


body{
    background-color: pink;
    font-family: "American Typewriter", Arial, Helvetica, sans-serif;
}

nav a:hover, nav a:focus{
    text-decoration: underline;
}


.nav_items a:nth-child(2):before{
    content: '\1F3AC';
    margin-right: 10px;
}


.skip a{
    position: absolute;
    top: -40px;
    left: 0;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    color: black;
    background-color: white;
}


.skip a:focus{
    position: absolute;
    top: 20px;
}

*:focus{
    border: solid black 1px;
    margin: none;
}
  
img{
    border: 5px solid black;
}

p, li{
    padding: 10px;
    color: black;
}

.heart1{
    display: none;
}

.film-roll{
    display: none;
    border: none;
}

/* mobile view in 720px */

.container{
    position: absolute;
    grid-template-columns: 1fr 3fr 1fr;
    grid-gap: 15px;
    display: grid;

}

.rom_com{
    grid-column: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}


.flip-card {
    background-color: transparent;
    width: 300px;
    height: 450px;
    perspective: 1000px;

}
  
  .flip-card-inner {
    position: relative;
    width: 300px;
    height: 450px;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  

  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    background-color: white;
    color: black;
    transform: rotateY(180deg);
    padding-right: 15px;
    padding-top: 15px;
    padding-left: 15px;

  }

.summary{
   grid-column: 2;
   text-align: left;
   padding: 25px;
}



/* tablet view in min width 900px */
@media only screen and (min-width: 900px){
    
    .nav_items{
        display: flex;
        flex-direction: row;
        text-align: center;
    }

    h2{
        font-size: 20px;
    }

    h3{
        font-size: 13px;
        color: black;
    }
    
    .container{
        position: absolute;
        grid-template-columns: 1fr 3fr 3fr 1fr;
        grid-gap: 15px;
        display: grid;
    
    }
    
    .rom_com:nth-child(odd){
        grid-column: 2;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        
    }
    
    
    .rom_com:nth-child(even){
        grid-column: 3;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    
    }
}


@media only screen and (min-width: 1080px){
    
    .nav_items{
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: flex-end;
    }

    h2{
        font-size: 20px;
    }
    
    h3{
        font-size: 13px;
        padding: 2px;
    }
    

    header{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .container{
        position: absolute;
        grid-template-columns: 1fr 3fr 3fr 3fr 1fr;
        grid-gap: 15px;
        display: grid;
    
    }
    
    .rom_com:nth-child(1){
        grid-column: 2;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        
    }
    
    
    .rom_com:nth-child(2){
        grid-column: 3;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    
    }

    .rom_com:nth-child(3){
        grid-column: 4;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    
    }

    .rom_com:nth-child(4){
        grid-column: 2;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    
    }

    .rom_com:nth-child(5){
        grid-column: 3;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    
    }

    .rom_com:nth-child(6){
        grid-column: 4;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    
    }

    .rom_com:nth-child(7){
        grid-column: 2;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    
    }

    .rom_com:nth-child(8){
        grid-column: 3;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    
    }

    .rom_com:nth-child(9){
        grid-column: 4;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    
    }

    .heart1{
        grid-column: 4;
        grid-row: 4;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .heart1 > img{
        border: none;
    }

    .film-roll{
        display: flex;
        
    }
}